body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display:grid;
    grid-template-rows: 100px 2fr 1fr;
    align-items: stretch;
    justify-content: stretch;
    text-align: center;

}

* {
    box-sizing: border-box;
}

label img {
    height: 200px;
    width: 200px;
}
input {
    display: none;
    }

input:checked + img {
    box-shadow: -2px 3px 19px 0px rgba(0,0,0,0.41);
    -webkit-box-shadow: -2px 3px 19px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -2px 3px 19px 0px rgba(0,0,0,0.41);
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
}


.stats {
    display: flex;
    flex-direction: column;
}

.buttonstyles {
    padding: 100px;
}

li {
    list-style: none;
}

ul {

    text-align: left;
    
}
article {
    display: flex;
    justify-content: center;
    align-items: center;
}
